{% extends 'index.html' %}
{% load static %}
{% block cssLinks %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
  integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
{% endblock %}

{% block main %}
<div class="application container">
  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include 'form.html' with form=form %}
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}