{% extends 'index.html' %}


{% block main %}
{% load widget_tweaks %}
<div class="jumbotron">
{% if is_visible %}
        <form action="" method="POST", enctype="multipart/form-data" novalidate>
        {% csrf_token %}

            <div style="text-align: center;" class="container p-3 my-3">
                {{form.as_p}}
            </div>
            <div style="text-align: center;" class="container p-3 my-3">
      <button type="submit" class="btn btn-outline-primary">Submit</button>
                </div>
    </form>
{% endif %}
</div>
{% if not is_visible %}
<div class="jumbotron p-3 my-3 justify-center">
    <h4 class="text-center">You have no apartment to vacate</h4>
</div>
{% endif %}
{% endblock %}