{% extends 'index.html' %}
{% block cssLinks %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
{% endblock %}


{% block main %}
<div class="container p-3 my-3" style="border: 2px solid black">
    <h3>Status</h3>
    {% if not all_verified %}
    <strong><b style="color: black">{{ feedback }}</b></strong>
    <br>
    <strong><b>{{ status }}</b></strong>
    {% endif %}
    {% if all_verified %}
    <strong><b style="color: black">Verified!!</b></strong>
    {% endif %}
    
</div>
<div class="container p-3 my-3">
  {% if all_verified %}
      Current waitlist number for your applications:
  <br>
  {% for building, value in waitlist.items %}
  <strong>{{ building }}</strong> is {{ value }}
  <br>
  {% endfor %}
  {% endif %}
  <br>
  {% if not all_verified %}
      Your waitlist number is N/A, this is because atleast one of your documents is not verified.
  {% endif %}
  <br>
  Building is allotted based on the date of application - first come first serve.
  If your waitlist number is -2, it means you have occupied a building.<br>
  If your waitlist number is -1, it means you have chosen to not occupy that building.<br>
  If your waitlist number is 0, it means you have vacated that building.<br>
  A positive waitlist number has the same meaning as any waitlist number. 
</div>
{% endblock %}