{% extends 'index.html' %}
{% block cssLinks %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
    integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
{% endblock %}


{% block main %}
<div class="container p-3 my-3" style="border: 2px solid black">
    <h3>Feedback</h3>
    {% if not all_verified %}
    <strong><b style="color: black">{{ feedback }}</b></strong>
    {% endif %}
    {% if all_verified %}
    <strong><b style="color: black">Verified!!</b></strong>
    {% endif %}
</div>
<div class="container p-3 my-3">
  {% if all_verified %}
      Current waitlist number for your applications:
  <br>
  {% for building, value in waitlist.items %}
  <strong>{{ building }}</strong> is {{ value }}
  <br>
  {% endfor %}
  {% endif %}
  <br>
  {% if not all_verified %}
      Your waitlist number is N/A, this is because atleast one of your documents is not verified.
  {% endif %}
  <br><br>
  Building is allotted based considering verification - first come first serve.
</div>
{% endblock %}