<footer id="footer">
  <div class="">
    © 2020 <a href="http://gymkhana.iitb.ac.in/" target="_blank">Gymkhana, IIT Bombay</a>
  </div>
  <div>
{#    Created by <a href="https://nautatva.github.io/" target="_blank"> Nautatava Navlakha </a> <br>#}
      Developed by <a href="https://www.linkedin.com/in/ipsit-mantri-b61945170/" target="_blank">Ipsit Mantri</a>
  </div>
  <br>
  <div>
    <div class="no-margin">
      Other Links:
    </div>
    <div class="no-margin">
      <a href="https://github.com/iitb-gymkhana/Married-research-scholars-portal">Source Code</a>
    </div>
    <div class="no-margin">
      <a href="https://github.com/iitb-gymkhana/Married-research-scholars-portal/issues">Bugs/Suggestions</a>
    </div>
  </div>
</footer>