{% load widget_tweaks %}

<div class="container">
    {% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
  {% for error in form.non_field_errors %}
  {{ error }}
  {% endfor %}
</div>
{% endif %}

<div class="container-fluid p-3 my-3">
    <h1 style="color: black; margin-left: 30%; margin-right: auto">Application for Family Accomodation</h1>
</div>
<div class="container">
    <p style="margin-left: 0">The Joint Deputy Registrar<br>
    Hostel Co-ordinating Unit<br>
    IIT, Powai, Mumbai - 400 076</p>
    <p style="margin-left: 0">
        Dear Sir,<br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  I am a married Research Scholar.  Kindly allot me family accommodation.
    </p>
</div>
<div class="container p-3 my-3">
    {% for field in form.visible_fields %}
<div class="form-group">
  {{ field.label_tag }}
  {% if form.is_bound %}
  {% if field.errors %}
  {% render_field field class="form-control is-invalid" %}
  {% for error in field.errors %}
  <div class="invalid-feedback">
    {{ error }}
  </div>
  {% endfor %}
  {% else %}
  {% render_field field class="form-control is-valid" %}
  {% endif %}
  {% else %}
  {% render_field field class="form-control" %}
  {% endif %}

  {% if field.help_text %}
  <small class="form-text text-muted">{{ field.help_text }}</small>
  {% endif %}
</div>
{% endfor %}
</div>
</div>