<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table {
          font-family: arial, sans-serif;
          font-size:10px;
          border-collapse: collapse;
          width: 100%;
        }

        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }

        tr:nth-child(even) {
          background-color: #dddddd;
        }
    </style>
</head>
<body>
<h1 style="text-align:center;">Married Research Scholar Portal</h1>
<table>
    <tr>
        <th>Quarter_Number</th>
        <th>Accomodatinom_Validity_Period</th>
        <th>Extension_Reason</th>
        <th>NAME</th>
        <th>ADDRESS</th>
        <th>ROLL_NO</th>
        <th>CATEGORY</th>
        <th>DEPARTMENT</th>
        <th>DATE_OF_APPLICATION</th>
        <th>DATE_OF_MARRIAGE</th>
        <th>DATE_OF_REGISTRATION</th>
        <th>EMAIL_ID</th>
        <th>PHONE_NO</th>
    </tr>
    {% for row in list_of_dicts %}
      <tr>
        <td>{{row.Quarter_Number}}</td>
        <td>{{row.Accomodatinom_Validity_Period}}</td>
        <td>{{row.Extension_Reason}}</td>
        <td>{{row.NAME}}</td>
        <td>{{row.ADDRESS}}</td>
        <td>{{row.ROLL_NO}}</td>
        <td>{{row.CATEGORY}}</td>
        <td>{{row.DEPARTMENT}}</td>
        <td>{{row.DATE_OF_APPLICATION}}</td>
        <td>{{row.DATE_OF_MARRIAGE}}</td>
        <td>{{row.DATE_OF_REGISTRATION}}</td>
        <td>{{row.EMAIL_ID}}</td>
        <td>{{row.PHONE_NO}}</td>
      </tr>
    {% endfor %}

</table>
</body>
</html>